<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201688970137-4dsu8ltqi56d1k2tc998rui38npksgcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201688970137-4dsu8ltqi56d1k2tc998rui38npksgcp</string>
	<key>API_KEY</key>
	<string>AIzaSyAeqJdhofjsqTJ77udxWHcCPNLFRkJ24Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>201688970137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TimeCard</string>
	<key>PROJECT_ID</key>
	<string>timecard-1fb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>timecard-1fb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201688970137:ios:71351494e22bfd6fb75908</string>
</dict>
</plist>